<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mrarm.uploadlib">

    <application android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".ui.login.SimpleLoginActivity"></activity>
    </application>

</manifest>